:root {
  --primary-dark: #1976d2;
  --primary-light: #bbdefb;
  --primary: #2196f3;
  --text: #FFFFFF;
  --accent: #4CAF50;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --defauld-font: Arial, Helvetica, sans-serif;
  
}

body {
  margin: 0px;
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
}

.title {
  font-size: 40px;
  font-family: var(--defauld-font);
  font-weight: bolder;
  background-color: var(--primary-dark);
  padding: 10px;
  cursor: default;
}

.menu {
  background-color: var(--primary);
  color: var(--text);
  font-size: 1.2em;
  font-weight: bold;
  font-family: var(--defauld-font);
  position: relative;
}

.menu-item {
  transition-duration: 50ms;
  padding: 5%;
  margin-top: 10px;
  display: block;
  text-decoration: none;
  color: var(--text);
}

.menu-item:hover {
  background-color: var(--primary-dark);
  transition-duration: 50ms;
  cursor: pointer;
}

.content {
  margin: 0px;
  display: grid;
  grid-template-rows: 40% auto;
}

.exercise {
  margin: 0px;
  font-size: 1.4em;
  font-family: var(--defauld-font);
  color: var(--primary-text);
}

h1 {
  margin: 0px;
  padding: 10px;
  padding-left: 2%;
  font-size: 40px;
  color: var(--primary-text);
  background-color: var(--primary-light);
  font-family: var(--defauld-font);
}

h2 {
  margin: 0px;
  padding: 10px;
  padding-left: 2%;
  font-size: 30px;
  color: var(--primary-text);
  font-family: var(--defauld-font);
}

.text {
  width: 70%;
  margin: 2%; 
}

.task {
  font-weight: bold;
  font-family: var(--font);
  margin: 2%;   
  color: var(--accent);
}

textarea {
  color: var(--secondary-text);
  border: 2px solid var(--divider);
  font-size: 1.4em;
  color: var(--secondary-text);
  border: 2px solid var(--divider);
  font-size: 1.4em;
}

input {
  color: var(--secondary-text);
  border: 2px solid var(--divider);
  font-size: 1.4em;
}

iframe {
  border: 0px solid black;
}

.checkmark {
  fill: var(--text);
  width: 25px;
  margin-bottom: -10px;
  display: inline;
  float: right;
}

.hint {
  color: var(--secondary-text);
  font-size: 60%;
  font-style: italic;
  position: absolute;
  margin-right: 20px;
  top: 22px;
  right: 20px;
  vertical-align: middle;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.hint:hover {
  color: var(--primary-text);
}

#hint {
  float: right;
  width: 20%;
  padding: 10px;
  margin-top: 80px;
  font-weight: bolder;
  color: var(--primary-dark);
}

.comment {
  display: block;
  font-size: 1.4em;
  color: var(--secondary-text);
  font-size: 1.4em;
}