<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <div class="menu-item">
            Test2323
        </div>
      </div>
    </div>
  </body>
</html>
